<html>
    <head>
        <title>Magic Planet Controller</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                    console.log('connected');
                });
                socket.on('play', function(data) {
                    console.log(data);
                });
        </script>
    </head>
    <body>
        {% if msg %}
        <h1>{{ msg }}</h1>
        {% endif %}
        <h1>{{ playlist }}</h1>
        <form action="/upload" method="POST">
            <input type="submit">
        </form>
        <h1>Videos:</h1>
        {% for video in videos %}
        <h3><a href="/play/{{ video }}">{{ video }}</a></h3>
        {% endfor %}
    </body>
</html>